.btn-airbnb {
  background-color: #F73158;
  color: white;
  padding: 16px 40px;
  border-radius: 5px;
  transition: .3s;
}

.btn-airbnb:hover {
  background-color: #D71138;
}

.btn-medium {
  color: #1C8919;
  border: 2px solid #1C8919;
  border-radius: 50px;
  padding: 16px 40px;
  transition: .3s;
}

.btn-medium:hover {
  color: #0e3f0c;
  border: 2px solid #0e3f0c;
}
