.card-category {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  text-shadow: 0 0 16px rgba(0,0,0,0.5);
  height: 400px;
  border-radius: 4px;
}

.card-product {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.card-product img {
  height: 160px;
  width: 160px;
  object-fit: cover;
}

.card-product h2, .card-product p {
  margin: 0;
}


.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  margin-bottom: 24px;
}

.card-trip img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.card-trip-footer h2, .card-trip-footer p {
  margin: 0;
}
